{% extends "baskets/layout.html" %}

{% block body %}

    <h2>Connexion</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autofocus class="form-control" type="text" name="username" placeholder="Nom d'utilisateur">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="password" placeholder="Mot de passe">
        </div>
        <input class="btn btn-primary" type="submit" value="Connexion">
    </form>

    <div class="mt-3">
        <p>Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici.</a></p>
        <p>Vous avez oublié votre mot de passe ? <a href="{% url 'password_reset' %}">Réinitialisez votre mot de passe ici.</a></p>
    </div>

{% endblock %}