{% extends "baskets/layout.html" %}

{% block body %}

    <h2>S'inscrire</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% for field in user_form %}
            {% include 'baskets/field.html' %}
        {% endfor %}
        {% for field in password_form %}
            {% include 'baskets/field.html' %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="S'inscrire">
    </form>

    <div class="mt-3">
        Vous avez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous ici.</a>
    </div>

{% endblock %}
