{% extends "baskets/layout.html" %}
{% load i18n static %}

{% block body %}

    <h2>{% translate "Password reset" %}</h2>

    {% if validlink %}

        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="mb-3">
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
            </div>
            <div class="mb-3">
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
            </div>
            <input class="btn btn-primary" type="submit" value="{% translate 'Change my password' %}">
        </form>

    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
